@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
    --body-font: 'Poppins', sans-serif;
}

body {
    font-family: var(--body-font);
}

.home__social--after::after {
    content: '';
    width: 2px;
    height: 32px;
    background-color: rgb(107 114 128);
    transform: translateX(7px);
}

.home__scroll {
    transform: rotate(90deg);
}

.card {
    @apply
    bg-gray-800
    rounded-lg;
}